#gates > * {
  box-sizing: border-box;
  float: left;
}

$first_item: nth($list, 1);
$max_grids: nth($first_item, 2);

// For non-breakpoint classes
@for $i from 1 through $max_grids {
  $equ: 100% / $i ;
  #gate.door-#{ $i } { width: $equ }
}

// For breakpoint classes
@each $breakpoint, $max_grid_size in $list {
  @media all and (max-width: $breakpoint + $gutter_width_calculator) {
    @for $i from 1 through $max_grid_size {
      $equ: 100% / $i ;
      #gate.door-#{ $breakpoint }-#{ $i } { width: $equ }
    }
  }
}

.close {
  max-width: $gutter_width#{$gutter_width_calculator};
  margin-right: auto;
  margin-left: auto;
}

.right {
  float: right;
  text-align: right;
  margin-left: auto
}

.left {
  float: left;
  text-align: left;
  margin-right: auto
}

.center {
  float: none;
  text-align: center;
  margin: auto
}