$gutter_width               : 64;
$gutter_width_calculator    : "rem";
$body_font_size             : 62.5;
$body_font_size_calculator  : "%";
$list: ( 
  90    : 5,
  80    : 4,
  64    : 4,
  48    : 3,
  27    : 2,
);