$gutter_width               : 1350;
$gutter_width_calculator    : "px";
$body_font_size             : 62.5;
$body_font_size_calculator  : "%";
$list: ( 
  1200    : 12,
  992     : 6, 
  768     : 2, 
);