@import 'typography';

@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('../fonts/courier_prime_code-webfont.eot');
    src: url('../fonts/courier_prime_code-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('../fonts/courier_prime_code-webfont.woff') format('woff'),
         url('../fonts/courier_prime_code-webfont.ttf') format('truetype'),
         url('../fonts/courier_prime_code-webfont.svg#courier_prime_coderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gutter: .3rem;
$bottom_space: 1rem;

%info {
    font-size: 1rem;
    color: rgb(95, 95, 95);
    font-weight: bold;
}

%padding_config {
    padding: .3rem;
}


body {
    font-family: 'courier_prime_coderegular';
    background-color: #f6f6f6;
    overflow-y: scroll;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

hr {
    border: 0; 
    height: .05rem; 
    background-image: linear-gradient(left, #f0f0f0, #dedede, #f0f0f0);
    margin: 1rem 0
}


select {
    padding: 1rem;
    border: 0;
    border-bottom: .15rem solid currentcolor; 
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    font: {
        family: 'courier_prime_coderegular'
    }

    &:focus, &:active {
      outline: 0;
      border-bottom-color: rgb(171, 171, 171);
    }
}

option {
    background-color: white;
    border: rgb(171, 171, 171);
    font: {
        family: 'courier_prime_coderegular'
    }
}


#gates {
    @extend %padding_config;
}

#gate {
    @extend %padding_config;
}

.filters {
    background-color: white;
    padding: 1rem !important;
    margin: 0 .6rem !important;

    & > * {
        float: right;
    }
}

.navbar  {
    ul { display: block }
    li { 
        display: inline-block;

        @media all and (max-width: 48rem) {
            display: block;
        }
    }

    &_link {
        padding: 1rem;
        color: rgb(171, 171, 171);

        @media all and (max-width: 48rem) {
            font: {
                size: 1.3rem;
            }
        }

        font: {
            size: 1rem;
            weight: bold;
        }
    }

}

.header {
    
    &:not(:last-child)  {
        margin-bottom: 1rem !important;
    }

}

.main {

}

.item {
    display: block;
    margin-bottom: 3rem;

    transition: opacity 500ms ease-out;

    &:hover {
        opacity: .75;
    }
    
    a {
        text-decoration: none;
    }
    
    &_image {
        position: relative;
        overflow:hidden;
        display: block;
        margin-bottom: 0;
    }

    &_info {
        background-color: white;
    }

    &_title {
        padding: 1rem 0 .5rem 0 !important;
        color: rgb(171, 171, 171);
        font-weight: bold;
        font-size: 1.2rem;
        display: block;
    }

    &_addtocart {
        background: none;
        border: none;
        border-radius: 0;

        padding: 1rem !important;

        color: rgb(171, 171, 171);
        text-transform: uppercase;

        font: {
            family: 'courier_prime_coderegular';
            size: .8rem;
            weight: bold;
        }

        &:hover {
            background: #000;
            border-color: #000;
            box-shadow: none;
            color: #fff;
            cursor: pointer;
        }

        &:active {
            background: rgb(171, 171, 171);
            border-color: rgb(171, 171, 171);
        }
        
        @extend %info;
    }

    &_price {
        display: inline-block;
        @extend %info;
    }
}