@import 'typography';

@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('../fonts/courier_prime_code-webfont.eot');
    src: url('../fonts/courier_prime_code-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('../fonts/courier_prime_code-webfont.woff') format('woff'),
         url('../fonts/courier_prime_code-webfont.ttf') format('truetype'),
         url('../fonts/courier_prime_code-webfont.svg#courier_prime_coderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gutter: .3rem;
$bottom_space: 1rem;

%info {
    font-size: 1rem;
    color: rgb(95, 95, 95);
    font-weight: bold;
    padding: 0 .5rem 1rem .5rem;
}


body {
    font-family: 'courier_prime_coderegular';
    background-color: #f6f6f6;
    overflow-y: scroll;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}


.main {
    padding: $gutter;
}

.item {
    display: block;

    padding: $gutter;
    margin-bottom: $bottom_space;

    a {
        text-decoration: none;
    }
    
    &_image {
        position: relative;
        overflow:hidden;
        display: block;
        margin-bottom: 0;
    }

    &_info {
        background-color: white;
    }

    &_title {
        padding: 1rem 0 .5rem 0;
        color: rgb(171, 171, 171);
        font-weight: bold;
        font-size: 1.2rem;
        display: block;
    }


    &_link {
        float: right;
        @extend %info;
    }

    &_price {
        float: left;
        @extend %info;
    }
}